<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h3>添加文章</h3>
                        <form action="/blogs/add" method="post">
                            <div class="mb-3">
                                <label for="title" class="form-label">标题</label>
                                <input name="title" type="text" class="form-control" id="title">
                            </div>
                            <div class="mb-3">
                                <label for="author" class="form-label">作者</label>
                                <input name="author" type="text" class="form-control" id="author">
                            </div>
                            <div class="mb-3">
                                <label for="snippet" class="form-label">摘要</label>
                                <textarea name="snippet" class="form-control" id="snippet" rows="2 "></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="body" class="form-label">内容</label>
                                <textarea name="body" class="form-control" id="body" rows="6"></textarea>
                            </div>
                            <button class="btn btn-primary">提交</button>
                        </form>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>