<footer class="text-bg-dark" style="min-height:500px;">

    <div class="container">
        <div class="row">
            <div class="col-4">
                <p>版权所有 &copy;老八的博客</p>
            </div>
            <div class="col-4">
                <p>
                    关于
                    关于极客公园
                    寻求报道
                    加入我们
                    友情链接
                </p>
            </div>
            <div class="col-4">
                <p>
                    联系我们
                    联系电话:8610-84599761
                    联系邮箱:contact@geekpark.net
                    公司地址:北京市朝阳区酒仙桥路4号751 D·Park
                    正东集团院内 C8座105室 极客公园
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>