<div class="row mt-5">
    <div class="col-4 m-auto">
        <div class="text-center">
            <p class="mt-5 mb-5">
                <img src="https://buhaoqi.com/assets/logo.svg" alt="" width="200px">
            </p>
            <p>新用户注册 | 登录</p>
            <div class="d-grid gap-2">
                <a href="/usres/register" class="btn btn-primary">注册</a>
                <a href="/usres/login" class="btn btn-success">登录</a>
            </div>
        </div>
    </div>
</div>