<div class="row mt-5">
    <div class="col-4 m-auto">
        <div class="card">
            <div class="card-body">
                <h3><i class="iconfont icon-zhanghaodenglu fs-2"></i>登录</h3>
                <form action="/users/login" method="post">
                    <div>
                        <label for="username" class="form-label">用户名</label>
                        <input type="email" id="username" name="username" class="form-control">
                    </div>
                    <div>
                        <label for="password" class="form-label">密码</label>
                        <input type="email" id="password" name="password" class="form-control">
                    </div>
                    <button class="btn btn-success mt-3" type="submit">登录</button>
                </form>
                <p class="lead mt-3">没有注册？<a href="/usres/register">注册</a></p>
            </div>
        </div>
    </div>
</div>